:root {
    --version: "1.0.7";
}

#app-mount .wrapper__3ed10 {
  border-radius: 50%;
}
#app-mount .wrapper__3ed10 svg:not(:root) {
  overflow: visible;
  contain: none;
}
#app-mount .wrapper__3ed10 foreignObject {
  -webkit-mask: none;
  mask: none;
}
#app-mount .wrapper__3ed10 .dots_a97068 circle {
  cy: -8 !important;
}
#app-mount .wrapper__3ed10 .dots_a97068 circle:nth-child(1) {
  cx: -8.5 !important;
}
#app-mount .wrapper__3ed10 .dots_a97068 circle:nth-child(2) {
  cx: -2.25 !important;
}
#app-mount .wrapper__3ed10 .dots_a97068 circle:nth-child(3) {
  cx: 4 !important;
}
#app-mount .wrapper__3ed10 .mask_d5067d > rect[x="22"] {
  x: 0;
  y: 0;
}
#app-mount .wrapper__3ed10 .mask_d5067d > circle {
  opacity: 0 !important;
  width: 100%;
  height: 100%;
  cx: 43%;
  cy: 20;
}
#app-mount .wrapper__3ed10 .pointerEvents__585e6[x="14.5"] {
  fill: rgba(0, 0, 0, 0.5) !important;
  width: 30px;
  height: 30px;
  x: 1;
  y: 1;
}
#app-mount .wrapper__3ed10 img, #app-mount .wrapper__3ed10.avatar__6337f {
  border-radius: 50%;
}
#app-mount .wrapper__3ed10 svg[width="25"][height="15"] > rect {
  rx: calc(50% * 2) !important;
  ry: calc(50% * 2) !important;
}
#app-mount .wrapper__3ed10[style*="80px"] svg.cursorDefault_e0f002 rect, #app-mount .wrapper__3ed10[style*="120px"] svg.cursorDefault_e0f002 rect {
  ry: calc(50% * 3.3);
  rx: calc(50% * 3.3);
}
#app-mount .wrapper__3ed10 rect {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  -webkit-mask: none;
  mask: none;
  display: block;
  rx: 50%;
  ry: 50%;
  fill: transparent !important;
  stroke-width: 2px;
}
#app-mount .wrapper__3ed10 rect[fill="#43b581"], #app-mount .wrapper__3ed10 rect[fill="#3ba55c"], #app-mount .wrapper__3ed10 rect[fill="rgba(67, 181, 129, 1)"], #app-mount .wrapper__3ed10 rect[mask*=online], #app-mount .wrapper__3ed10 rect[fill*="hsl(139"], #app-mount .wrapper__3ed10 rect[fill*="var(--status-green"], #app-mount .wrapper__3ed10 rect[fill="#23a55a"] {
  stroke: var(--status-online-color);
}
#app-mount .wrapper__3ed10 rect[fill="#faa61a"], #app-mount .wrapper__3ed10 rect[fill="rgba(250, 166, 26, 1)"], #app-mount .wrapper__3ed10 rect[mask*=idle], #app-mount .wrapper__3ed10 rect[fill*="hsl(38"], #app-mount .wrapper__3ed10 rect[fill*="var(--status-yellow"], #app-mount .wrapper__3ed10 rect[fill="#f0b232"] {
  stroke: var(--status-idle-color);
}
#app-mount .wrapper__3ed10 rect[fill="#f04747"], #app-mount .wrapper__3ed10 rect[fill="rgba(240, 71, 71, 1)"], #app-mount .wrapper__3ed10 rect[fill="#ed4245"], #app-mount .wrapper__3ed10 rect[mask*=dnd], #app-mount .wrapper__3ed10 rect[fill*="hsl(359"], #app-mount .wrapper__3ed10 rect[fill*="var(--status-red"], #app-mount .wrapper__3ed10 rect[fill="#f23f43"] {
  stroke: var(--status-dnd-color);
}
#app-mount .wrapper__3ed10 rect[fill="#593695"], #app-mount .wrapper__3ed10 rect[mask*=streaming], #app-mount .wrapper__3ed10 rect[fill*="var(--status-purple"] {
  stroke: var(--status-streaming-color);
}
#app-mount .wrapper__3ed10 rect[fill="#747f8d"], #app-mount .wrapper__3ed10 rect[mask*=offline], #app-mount .wrapper__3ed10 rect[fill="#80848e"], #app-mount .wrapper__3ed10 rect[fill=NaN] {
  stroke: var(--status-offline-color);
}
#app-mount .wrapper__3ed10 rect[fill="#747f8d"], #app-mount .wrapper__3ed10 rect[mask*=invisible], #app-mount .wrapper__3ed10 rect[fill="rgba(116, 127, 141, 1)"], #app-mount .wrapper__3ed10 rect[fill*="hsl(214"], #app-mount .wrapper__3ed10 rect[fill="var(--status-grey-500)"], #app-mount .wrapper__3ed10 rect[fill="#82858f"] {
  stroke: var(--status-invisible-color);
}
#app-mount .wrapper__3ed10 rect[x="16"] {
  width: 24px;
  height: 24px;
}
#app-mount .wrapper__3ed10 rect[x="28"] {
  width: 40px;
  height: 40px;
  overflow: visible;
}
#app-mount .wrapper__3ed10[style*="32px"] rect {
  width: 32px;
  height: 32px;
  x: -14.5;
  y: -17;
  position: relative;
  z-index: 0;
}
#app-mount .wrapper__3ed10[style*="40px"] > svg > svg rect {
  width: 40px;
  height: 40px;
  x: -19;
  y: -20;
  ry: calc(50% * 3.3);
  rx: calc(50% * 3.3);
}
#app-mount .wrapper__3ed10 foreignObject[mask*=mobile] {
  width: calc(100% + 4px);
}
#app-mount .wrapper__3ed10 foreignObject[mask*=mobile][width="32"] img {
  width: calc(100% - 12px);
}
#app-mount .wrapper__3ed10 foreignObject[mask*=mobile][width="80"] img {
  width: calc(100% - 16px);
}
#app-mount .wrapper__3ed10 foreignObject[mask*=mobile][width="80"]:after {
  width: 14px;
  height: 18px;
  top: 75%;
}
#app-mount .wrapper__3ed10 foreignObject[mask*=mobile][width="120"] img {
  width: calc(100% - 22px);
}
#app-mount .wrapper__3ed10 foreignObject[mask*=mobile][width="120"]:after {
  width: 24px;
  height: 20px;
  top: 75%;
}
#app-mount .wrapper__3ed10 foreignObject[mask*=mobile]:after {
  content: "";
  display: var(--status-phone-visible, block);
  -webkit-mask: url('data:image/svg+xml; utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fas" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"></path></svg>') center no-repeat;
          mask: url('data:image/svg+xml; utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fas" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"></path></svg>') center no-repeat;
  position: absolute;
  width: 10px;
  height: 14px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background: var(--status-phone-color, var(--status-online-color));
  z-index: 1;
}
#app-mount .wrapper__3ed10 foreignObject[mask*=mobile] + rect {
  stroke: var(--status-phone-color, var(--rs-online-color));
}
#app-mount .avatarStack__789b4 {
  position: relative;
}
#app-mount .avatarSpeaking__747a1 {
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px var(--rs-self-speaking-colour, #57d39b), inset 0 0 0 3px var(--background-secondary);
}
#app-mount .message_ccca67 .wrapper__3ed10 foreignObject[mask*=mobile] {
  width: calc(100% + 3px);
}
#app-mount .avatarStack__789b4 {
  position: relative;
}
#app-mount .avatarSpeaking__747a1 {
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px var(--rs-self-speaking-colour, #57d39b), inset 0 0 0 3px var(--background-secondary);
}
#app-mount .message_ccca67 .wrapper__3ed10 foreignObject[mask*=mobile] {
  width: calc(100% + 3px);
}
#app-mount .message_ccca67 .wrapper__3ed10 rect[mask*=typing] {
  width: calc(100% - 9px);
}
#app-mount .avatarHint__15059 foreignObject {
  -webkit-mask: none;
  mask: none;
}
#app-mount .avatarHintInner_c8ddb1 {
  border-radius: 50% !important;
  padding-top: 0;
  width: calc(100% - 3px - 3px + 2px);
  height: calc(100% - 3px - 3px + 2px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}
#app-mount .memberOffline-2lN7gt img {
  -webkit-clip-path: none !important;
  clip-path: none !important;
}
#app-mount .offline__55fab img {
  -webkit-clip-path: none !important;
  clip-path: none !important;
}
#app-mount .avatarWrapperNonUserBot__5ff3f .wrapper__3ed10 img {
  -webkit-clip-path: none !important;
  clip-path: none !important;
}
#app-mount .userInfo__83819 .wrapper__3ed10 {
  margin-top: 1px;
  margin-left: 1px;
}
#app-mount .info__755e1 .line_cdcacc:last-child:after {
  content: "RadialStatus " var(--version);
  display: block;
}

.embedThumbnail__1f402 {
    border-radius: 4px !important;
}

.animatedContainer__0e828,
.bannerImage_c73a57 {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

rect.pointerEvents__585e6 {
    stroke: var(--background-primary);
    stroke-width: 2px;
    mask: unset;
    ry: 4px;
    rx: 4px;
}

.svg-2azL_l > svg > rect {
    mask: unset;
    width: 10px;
    height: 10px;
    x: 7.5 !important;
    y: -17 !important;
    rx: 4px;
    ry: 4px;
    z-index: 9;
}

.container_debb33 .avatar_f8541f.wrapper-1VLyxH * {
    overflow: visible;
}

svg.cursorDefault--wfhy5 {
    display: block !important;
    overflow: visible;
}

.member_b44d5d,
.members__573eb {
    background: transparent;
}

.member_aa4760 .dots-1BwzZQ circle,
.channel__0aef5 .dots-1BwzZQ circle {
    cy: -18.5px;
    overflow: visible;
    color: var(--background-primary);
}

.member_aa4760 .dots-1BwzZQ circle:nth-child(odd),
.channel__0aef5 .dots-1BwzZQ circle:nth-child(odd) {
    display: none;
}

.member_aa4760 .channel__0aef5 svg.dots-1BwzZQ,
.channel__0aef5 svg.dots-1BwzZQ {
    overflow: visible;
}

.lookInverted-2mDUMi .contents-3ca1mk {
    color: var(--brand-experiment);
}

.selected__18a0b {
    background-color: var(--brand-experiment) !important;
}

[mask="url(#svg-mask-status-online-mobile)"] {
    height: 15px !important;
}

[class^="socialLinks-"] + [class^="info-"] > span:first-child::before {
    content: "Ultra " var(--version);
    position: relative;
    top: 0px;
    display: block;
}

.scroller__9a4f3 {
    background-color: var(--background-secondary) !important;
}

.container_f8ef5d,
.reactors__0f305 {
    background-color: var(--background-primary) !important;
}

.avatarWrapperNormal__36eec {
    position: absolute;
    transform: translate(50%);
    left: -5%;
}

.headerTop-3GPUSF {
    text-align: center;
    position: relative;
    max-width: 100%;
    right: 0px;
    top: 0px;
}

.profileBadges__1f2ab {
    justify-content: center;
    position: relative;
    max-width: 100%;
    right: 0px;
    top: 0px;
}

.customStatus-3XAoF9 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.tabs-1RhQha {
    border-bottom: none !important;
}

.headerText_c0138d .overflow__993fa {
    text-transform: uppercase !important;
    font-weight: 700 !important;
    font-size: 12px;
}

.container_e1958d {
    background-color: var(--background-secondary) !important;
}

.message_ff43e6 {
    background-color: var(--background-primary) !important;
}

.desaturateUserColors-1O-G89 {
    font-weight: bold;
}

.activityText__31c22 {
    color: #919191;
}

.activityText__31c22 strong {
    color: #cfd3da;
}

#popout_45 {
    background-color: var(--background-secondary) !important;
}

svg.circleIcon_b62ef0 {
    color: var(--brand-experiment) !important;
}

.circleIconButton__05cf2.selected_aded59 {
    background-color: var(--brand-experiment-hover) !important;
}

::placeholder,
body,
button,
input,
select,
textarea {
    font-family: var(--font);
}

.membersGroup_cad095 {
    margin-bottom: 10px;
}


.mask-1FEkla circle {
    display: none;
}

.wrapper__8a5dd {
    border: 3px solid var(--background-secondary);
}

.membersWrap__5ca6b {
    min-height: 100% !important;
}

.option-2KkUJO::after {
    background: transparent !important;
}

.react-datepicker,
.react-datepicker__header,
.react-datepicker__day--disabled,
.react-datepicker__day {
    background-color: var(--background-primary) !important;
}

.react-datepicker__day:hover:not(.react-datepicker__day--disabled) {
    background-color: var(--brand-experiment) !important;
}

.queryContainer_c1cb2f {
    background-color: var(--background-secondary) !important;
}

.container__84c26 {
    background-color: var(--background-primary) !important;
}

.wrapper-1VLyxH foreignObject:not(rect.pointerEvents__585e6) {
    mask: unset;
}

#app-mount .lowerBadge-3WTshO {
    border-radius: 50% !important;
}

.numberBadge__40d6f::before {
    content: "";
    position: absolute;
    top: -4px;
    right: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--background-tertiary);
    z-index: -1;
}

.selected__18a0b .colorInteractiveNormal__43ed1,
.selected__18a0b .colorInteractiveActive__8ecbe {
    color: var(--background-secondary) !important;
}

.container-2FjuQ5,
.footer-3ie9JP,
.footer-31IekZ {
    background-color: #101014 !important;
}

.pageWrapper_c182d3 {
    background-color: var(--background-primary) !important;
}

.container-x8Y1ix {
    background: #17161b !important;
}

.UserBackgrounds-banner-badge {
    display: none;
}

h3.title-1_TkpU.fontDisplay-3Gtuks.base__1aa9d.size24__367cf,
.title-1_TkpU,
.container-x8Y1ix .text-PdAsFQ,
.footerTitle-3Bslxi,
.title-OdeD-o,
.backButton-2Ps-B8,
.fontDisplay-3Gtuks,
.button__581d0 .contents-3ca1mk,
.inputDefault-3FGxgL {
    color: white;
}

#app-mount .unread__48cf4::after {
    content: "";
    position: absolute;
    top: -18px;
    left: 188px;
    width: 30px !important;
    height: 30px !important;
    border-radius: 0%;
    background: var(--background-secondary);
    z-index: 0;
}

.perksModalContentWrapper-3RHugb {
    background-color: var(--background-primary) !important;
}

.lookInverted-2D7oAl .contents-3ca1mk {
    color: black !important;
}

.scrollerBase-289Jih::-webkit-scrollbar,
.scrollerBase-_bVAAt::-webkit-scrollbar {
    display: none !important;
}

#app-mount .numberBadge__40d6f {
    background-color: var(--brand-experiment) !important;
    color: white;
    border-radius: 50% !important;
}

.link_ddbb36 {
    overflow: visible;
}

.modeSelected__473f1 .link_ddbb36,
.modeSelected__473f1:hover .link_ddbb36,
.link_ddbb36:hover {
    background: transparent !important;
}

.link_ddbb36 {
    width: calc(100% - 12px) !important;
}

.link_ddbb36,
.link_ddbb36:hover {
    display: inline-block;
    padding: 6px 8px;
}

.modeMuted_f0a72e .name__4eb92 {
    color: #2b2b2b;
}

.modeSelected__473f1 .link_ddbb36::before {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--selected-indicator);
    box-shadow: 0 0 20px 4px var(--selected-indicator);
    border-radius: 50%;
    width: 5px;
    height: 5px;
    left: -9px;
    top: 13px;
}

.activity_bafb94 .icon__1ab4f {
    color: #cfd3da;
}

.link_ddbb36:hover::before {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--hover-indicator);
    box-shadow: 0 0 20px 4px var(--hover-indicator);
    border-radius: 50%;
    width: 5px;
    height: 5px;
    left: -9px;
    top: 13px;
}

.toolbar__62fb5 .icon__3ede9:nth-child(1),
.toolbar__62fb5 .anchor-1MIwyf {
    display: none;
}

.container_e1958d {
    background-color: var(--background-secondary) !important;
    border: none !important;
}

.searchBar-zdmu7v {
    width: 300px !important;
    position: relative;
}

.modeUnreadImportant__35358 .icon__67ab4,
.modeUnreadImportant__35358:hover .icon__67ab4 {
    color: var(--interactive-active);
}

.mentioned_fa6fd2:before {
    background-color: var(--brand-experiment);
    box-shadow: 0 0 20px 4px var(--brand-experiment);
}

.newMessagesBar__8b272 {
    box-shadow: 0 0 40px 4px var(--brand-experiment);
}

.unread__48cf4 {
    background-color: var(--brand-experiment);
    box-shadow: 0 0 20px 4px var(--brand-experiment);
    border-radius: 50%;
    left: 6px;
    top: 58%;
    width: 5px;
    height: 5px;
}

.typeThread__5fb37 .unread__48cf4 {
    left: 6px;
}

.chat__52833 .privateChannels__9b518,
.chat__52833 .content-2a4AW9 {
    background-color: var(--background-primary) !important;
}

.reactions__2ede2 {
    padding-top: 2px !important;
    margin-bottom: -5px !important;
}

.reaction_ef7e09 {
    background-color: rgba(48, 48, 48, 0.363) !important;
    border-color: rgba(48, 48, 48, 0.363) !important;
    border-width: 0px;
    backdrop-filter: blur(5px);
}

.reactionMe__9fc5c {
    background-color: #6f6af631 !important;
    border-color: #6e6af6 !important;
}

.membersGroup_cad095 {
    opacity: 0.5;
    margin-bottom: 10px;
}

.wrapper__612a5:hover .wrapper__612a5 {
    background-color: transparent;
}

.link_ddbb36:hover {
    color: var(--interactive-active);
}

.link_ddbb36 {
    position: relative;
    left: 15px;
    height: 30px;
}

.icon__67ab4 {
    height: 11px;
    width: 11px;
    opacity: 0.4;
}

.modeSelected__473f1 .link_ddbb36,
.link_ddbb36:hover {
    position: relative;
}

.overflow__993fa:not(.nameAndDecorators_c896d6 .overflow__993fa) {
    font-size: 11pt;
    font-weight: 500;
}

.option-2KkUJO:after {
    display: none;
}

.name__4eb92,
.channelName-3KPsGw {
    font-size: 11pt;
}

.root_a28985L:not(.carouselModal-1eUFoq) {
    background-color: var(--background-tertiary) !important;
}

.theme-light .root_a28985 {
    box-shadow: var(--elevation-border), var(--elevation-high);
}

.sampleLink-5BWNy9 {
    color: #fff;
}

.messageContent-2t3eC {
    font-weight: 400;
}

.autocomplete__743a5,
.uploadModal__6eb75 {
    background-color: var(--background-secondary) !important;
}

.headerChildren_e6a96f > svg,
.addButtonIcon_d9a52c {
    color: var(--channels-default);
}

.wrapper-1VLyxH {
    mask: unset;
}

.content-2a4AW9 [style="height: 16px;"] {
    height: 10px !important;
}

.scrollableContainer_ff917f {
    border-radius: 20px;
    min-height: 70px !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start !important;
}

.container_bc43c1 {
    display: var(--boost-bar);
}

.header__77c95 {
    height: 70px;
    display: flex;
    align-items: center;
}

.name_e8e549 {
    color: var(--channels-default);
    font-size: 9pt;
}

.peopleList_d2f527::-webkit-scrollbar {
    display: none;
}

.peopleColumn__0c784 {
    background-color: var(--background-primary);
}

.inner__9fd0b {
    min-width: 96%;
    max-height: 50vh;
}

.codeBlockText_bcfd01,
code {
    font-family: var(--code-font);
}

.avatar__6337f,
.wrapper-1VLyxH,
.avatar-2Vndt_,
.wrapper-1VLyxH,
.avatar-b5OQ1N,
.avatar__08316,
.avatar_a56eee {
    border-radius: 50%;
}

.replyBar_ed6afc,
.clipContainer_ab9cf6 {
    background: var(--background-primary);
}



.imageWrapper__178ee {
    border-radius: 20px;
}

.members__573eb,
.members__573eb > div,
.container-2Oqvgx,
.container-NkLXgf {
    background-color: var(--background-primary);
}

.children_cde9af:after {
    display: none;
}

.auto-2K3UW5::-webkit-scrollbar-thumb {
    display: block;
}

.container__26baa {
    background: var(--background-primary) !important;
}

.container_debb33,
.container-6sXIoE {
    background-color: var(--background-secondary);
}

.container-6sXIoE {
    border: none;
}

.scroller-1d5FgU::-webkit-scrollbar {
    display: none;
}

.scroller_e412fe {
    margin-right: 30px !important;
}

.textScroller-dc9_kz {
    color: var(--text-normal);
}

.arrow_cb03b8 {
    display: none;
}


.scroller-1bVxF5 {
    padding: 6px 8px !important;
}

.bf-toolbar::before,
.contentWarningPopout__84e38 {
    background: var(--background-floating) !important;
}

.axolotlcord .homeIcon__560eb path {
    fill: transparent;
}

.axolotlcord .homeIcon__560eb {
    background: url("https://i.imgur.com/tfg5teR.png") center/cover no-repeat;
    min-width: 45px;
    min-height: 45px;
}

.card-14SgW5 {
    background: #101014 !important;
}

.divider__93173 {
    border-bottom: 1px solid transparent !important;
}

.roleContainer-WStCpt {
    background: transparent !important;
}

.callContainer__486b0 .content-2a4AW9 {
    background-color: transparent !important;
}

#MemberCount,
#MemberCount .membersGroup_cad095 {
    background-color: var(--background-primary) !important;
}

.header-2Kx1US.ChannelDms-channelmembers-header.topPill-3DJJNV {
    background: var(--background-primary) !important;
}

.bannerSVGWrapper-qc0szY mask {
    display: none;
}

.userPopout-2j1gM4 .wrapper-1VLyxH::before,
.avatar-3QF_VA::before {
    content: " ";
    font-size: 0px;
    background-color: var(--background-floating);
    float: left;
    border-radius: 50%;
    height: 94px;
    width: 94px;
    margin: -7px;
}

.avatar-3QF_VA::before {
    height: 136px;
    width: 136px;
    margin: -8px;
}


.mask_d5067d > foreignObject {
    border-radius: 50%;
    mask: unset;
}

.bd-error-modal-header,
.bd-error-modal-content {
    background-color: var(--background-secondary) !important;
}

:root {
  --server-size: var(--HSL-server-icon-size, var(--HSL-size, 35px));
  --server-spacing: var(--HSL-server-spacing, var(--HSL-spacing, 10px));
  --server-container: calc(var(--server-size) + 20px);
  --server-direction: var(--HSL-server-direction, column);
  --server-alignment: var(--HSL-server-alignment, flex-start);
}

#app-mount .guilds__2b93a {
  width: var(--server-container);
}
#app-mount .guilds__2b93a .scrollerWrap-1IAIlv {
  width: calc(100% + 30px);
}
#app-mount .guilds__2b93a .svg__34dd4,
#app-mount .guilds__2b93a .wrapper__9916c,
#app-mount .guilds__2b93a .guildsError-b7zR5H,
#app-mount .guilds__2b93a .placeholderMask_ca6625 {
  width: var(--server-size);
  height: var(--server-size);
}
#app-mount .guilds__2b93a [role=group] {
  height: auto !important;
}
#app-mount .guilds__2b93a [class*=expandedFolderBackground] {
  width: var(--server-size);
  left: 50%;
  translate: -50% 0;
}
#app-mount .guilds__2b93a .wrapper_b4903b {
  height: var(--server-size) !important;
}
#app-mount .guilds__2b93a .wrapper__832f2 {
  width: var(--server-container);
}
#app-mount .guilds__2b93a [class*=listItem]:not([class*=listItemWrapper]) {
  width: var(--server-container);
}

#app-mount .app_b1f720 .base_c0676e {
  top: var(--server-container) !important;
  position: absolute !important;
  left: 0 !important;
  right: 0;
  bottom: 0;
  max-width: 100%;
}
#app-mount .sidebar_e031be {
  border-radius: 0;
}
#app-mount [class*=unreadMentionsIndicator] {
  width: var(--server-size);
  padding: 0;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
}
#app-mount .guilds__2b93a {
  transform-origin: top left;
  transform: rotate(-90deg);
  height: 100vw !important;
  top: var(--server-container);
  bottom: unset;
  position: absolute !important;
  left: 0;
}
#app-mount .guilds__2b93a > [data-list-id=guildsnav] {
  margin-bottom: 0 !important;
}
#app-mount .guilds__2b93a .scrollerBase__65223 {
  padding: var(--server-spacing) 0 !important;
  display: flex;
  flex-direction: var(--server-direction);
  gap: var(--server-spacing);
  align-items: var(--server-alignment);
  justify-content: var(--server-alignment);
}
#app-mount .guilds__2b93a .scrollerBase__65223 > div[style]:not(.listItem-2P_4kh) {
  height: auto !important;
}
#app-mount .guilds__2b93a .scrollerBase__65223 > div[style]:not(.listItem-2P_4kh)[style*="height: 0px"] {
  padding-top: 1px;
}
#app-mount .guilds__2b93a .scrollerBase__65223 > div[aria-label] {
  display: flex;
  flex-direction: var(--server-direction);
  gap: var(--server-spacing);
}
#app-mount .guilds__2b93a [class*=pill] {
  transform: rotate(90deg) translateY(-50%);
  height: var(--server-size);
  width: 4px;
  top: calc(var(--server-size) / -1 + var(--server-size) / 2 - 8px) !important;
  margin-left: -2px;
}
#app-mount .guilds__2b93a [class*=pill] span {
  height: 100% !important;
  width: 4px !important;
  transform: scale(0, 1) !important;
  transition: 0.15s ease !important;
  margin-left: 0;
  border-radius: 0 4px 4px 0;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 0"] {
  transform: scale(1, 0.24) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 1"] {
  transform: scale(1, 0.24) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 2"] {
  transform: scale(1, 0.24) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 3"] {
  transform: scale(1, 0.24) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 4"] {
  transform: scale(1, 0.24) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 5"] {
  transform: scale(1, 0.24) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 6"] {
  transform: scale(1, 0.24) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 7"] {
  transform: scale(1, 0.24) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 8"] {
  transform: scale(1, 0.24) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 9"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 10"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 11"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 12"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 13"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 14"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 15"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 16"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 17"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 18"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 19"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 20"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 21"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 22"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 23"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 24"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 25"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 26"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 27"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 28"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 29"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 30"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 31"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 32"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 33"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 34"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 35"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 36"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 37"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 38"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 39"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds__2b93a [class*=pill] span[style*="height: 40"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds__2b93a .wrapper__832f2 {
  display: flex;
  flex-direction: var(--server-direction);
  gap: var(--server-spacing);
}
#app-mount .guilds__2b93a .wrapper__832f2 ul[role=group] {
  display: flex;
  flex-direction: var(--server-direction);
  gap: var(--server-spacing);
}
#app-mount .guilds__2b93a [class*=listItem]:not([class*=listItemWrapper]) {
  width: var(--server-size);
  transform: rotate(90deg);
  margin: 0 10px;
  position: unset;
}
#app-mount .guilds__2b93a [class*=guildSeparator] {
  transform: rotate(90deg);
  width: var(--server-size);
}
#app-mount .guilds__2b93a [class*=expandedFolderBackground] {
  border-radius: 10px;
  height: 100%;
}
#app-mount .guilds__2b93a .folder__17546 {
  background: transparent;
}
#app-mount .guilds__2b93a .wrapper__0a9af {
  top: 0;
  bottom: 0;
}
#app-mount .guilds__2b93a .target__2c5c2::before {
  top: 0;
  height: var(--server-size);
  width: 4px;
  left: -6px;
}
#app-mount .guilds__2b93a.hidden__7c832 + .base_c0676e {
  top: 0 !important;
}
#app-mount [class*=listItemTooltip] {
  position: absolute;
  max-width: unset;
  white-space: nowrap;
  margin-left: calc(var(--server-size) / -1 - 20px);
  top: calc(var(--server-size) - 10px);
}
#app-mount [class*=listItemTooltip] [class*=tooltipPointer] {
  transform: rotate(180deg);
  top: -5px !important;
  right: unset;
  left: 13px;
  z-index: 1;
}
#app-mount .friendsOnline-2JkivW {
  position: absolute;
  transform: translate(-50%, 50%);
  top: calc(-50% + var(--server-spacing));
  left: -50%;
  width: calc(var(--server-size) + var(--server-spacing));
  display: flex;
  justify-content: center;
}
#app-mount .guilds__2b93a.content-Pph8t6,
#app-mount .BF-folderSidebar {
  position: absolute !important;
  top: calc(var(--server-container) * 2) !important;
}
#app-mount .guilds__2b93a.content-Pph8t6:not(.closed-j55_T-) + .base_c0676e,
#app-mount .BF-folderSidebar:not(.closed-j55_T-) + .base_c0676e {
  top: calc(var(--server-container) * 2.5) !important;
}
#app-mount .guilds__2b93a .frame-oXWS21[class*=listItem] {
  height: var(--server-size) !important;
}
#app-mount .guilds__2b93a .frame-oXWS21[class*=listItem] .wrapper__8436d {
  height: 100% !important;
}
#app-mount .guilds__2b93a .frame-oXWS21[class*=listItem] .button-Jt-tIg {
  width: 100%;
  height: 100% !important;
  border-radius: 50%;
  padding: 2px;
  font-size: 10px;
  box-sizing: border-box;
  text-align: center;
}
#app-mount .BF-folderSidebar {
  top: calc(var(--server-container)) !important;
}
#app-mount .serverCountWrap-k8F5De {
  height: var(--server-size);
}
#app-mount .serverCount-FsTTs1 {
  white-space: pre-line;
  font-size: 12px;
  display: flex;
  align-items: center;
}

html.platform-osx #app-mount .typeMacOS_cacc59 {
  width: 100%;
}
html.platform-osx #app-mount .base_c0676e {
  top: calc(var(--server-container) + 30px) !important;
}
html.platform-osx #app-mount #pluginNotice {
  top: 32px;
  z-index: 100000 !important;
}

body.foldercontentopened .base_c0676e {
  transition: 0.2s ease !important;
}

.accountProfilePopoutWrapper_d4887f {
  left: 0;
}

body #app-mount .app_b1f720 .base_c0676e {
  top: 0 !important;
  bottom: var(--server-container) !important;
}
body #app-mount .guilds__2b93a {
  top: unset !important;
  left: 100vw;
  bottom: 0 !important;
  transform-origin: bottom left;
}
body #app-mount .guilds__2b93a [class*=pill] {
  top: unset !important;
  bottom: calc(var(--server-size) / -1 + var(--server-size) / 2 - 8px) !important;
}
body #app-mount .guilds__2b93a [class*=pill] span {
  border-radius: 4px 0 0 4px;
}
body #app-mount .guilds__2b93a.content-Pph8t6 {
  top: unset !important;
  bottom: var(--server-container) !important;
}
body #app-mount .guilds__2b93a.content-Pph8t6:not(.closed-j55_T-) + .base_c0676e {
  top: 0 !important;
  bottom: calc(var(--server-container) * 2) !important;
}
body #app-mount [class*=listItemTooltip] {
  position: absolute;
  white-space: nowrap;
  top: calc(var(--server-size) / -1 - 30px) !important;
  margin-left: calc(var(--server-size) / -1 - 20px);
}
body #app-mount [class*=listItemTooltip] [class*=tooltipPointer] {
  transform: rotate(0) !important;
  top: unset !important;
  bottom: -10px !important;
}

html.platform-osx #app-mount .base_c0676e {
  top: 32px !important;
}
